* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background: #fff;
}
/* navigation */
.navbar {
  background: orange !important;
}
.nav-link {
  color: #fff !important;
}
.nav-item {
  transition: 0.5s all ease-in-out;
}
.nav-item:hover {
  background: #fff;
  padding-left: 3px;
}
.nav-item:hover .nav-link {
  color: orange !important;
}
.fa-bars {
  color: white;
  font-size: 30px !important;
  border: none !important;
}
.navbar-brand {
  font-family: "Tangerine", cursive !important;
  font-size: 30px;
  color: #fff !important;
  font-weight: 600;
  padding: 0;
}
.navbar-brand img {
  width: 200px;
  height: 100px;
}
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../images/index.jpg") no-repeat center center fixed;
  height: 100vh;
  width: 100%;
}
.welcome-title {
  color: #fff;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
.title {
  padding-top: 40px;
  color: orange;
  font-weight: 900;
  padding-bottom: 10px;
}
#about {
  background: rgb(223, 220, 220);
}
.about-box {
  padding: 20px;
}
/* services */
#services {
  background: #fff;
  padding-bottom: 20px;
}
.service-title {
  padding-top: 5px;
}
.line {
  width: 100%;
  border-bottom: 2px solid red;
  margin-bottom: 5px;
  clear: both;
}
.service-box {
  height: 200px;

  transition: 0.4s all ease-in-out;
}
.service-box:hover {
  transform: translateY(-10px);
}
.gallery {
  margin: 0 10px;
}
.gallery img {
  margin: 5px;
  filter: grayscale(100%);
  transition: 0.6s all ease-in-out;
  width: 200px;
  height: 200px;
}
.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  z-index: 1;
}
/* contact section */
#contact {
  background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)),
    url("../images/decor2.jpg") no-repeat center fixed;
  background-size: cover;
  color: white;
}
/* footer */
#footer {
  color: orange;
  background: #000;
  padding-bottom: 30px;
}
#footer .col-md-3 {
  border-right: 1px solid white;
  color: white;
}
#footer .col-md-3:last-child {
  border-right: none;
}
@media screen and (max-width: 800px) {
  .gallery img {
    margin: 2px;
    width: 100%;
  }
}
